name: publish

on:
  push:
    branches: [main]
    paths-ignore:
      - '.beads/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    uses: ./.github/workflows/docker.yml
    with:
      version: main-${{ github.sha }}
    permissions:
      contents: read
      packages: write
