name: release

on:
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    uses: ./.github/workflows/docker.yml
    with:
      version: ${{ github.ref_name }}
    permissions:
      contents: read
      packages: write
